@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;
  --primary: #35afa0;
  --fontcolor: #3e445a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-fontcolor: var(--fontcolor);
}

.active{
  background-color: #35afa0;

  padding: 5px;
  border:#0aa17b solid 1px ;
  border-radius: 8px;
}